@media (max-width: 480px) {
.game-board {
  width: 100%;
  height: 480px;
  border-bottom: 10px solid rgb(21, 136, 37);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 200px;
  margin-top: 15px;
  animation: clouds-animation 40s infinite linear;
}

.hidden {
  display: none;
}

.over {
  position: absolute;
  width: 350px;
  top: 160px;
  left: 36%;
}

#button {
  position: absolute;
  font-size: 1.5rem;
  width: 100px;
  height: 40px;
  top: 240px;
  left: 46%;
  background-color: #FD0002;
  color: #FFF;
  border: #FFF 3px solid;
  box-shadow: 3px 3px rgba(63,168,249,0.7);
}

}